[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
flask = "*"
flask-cors = "*"
gunicorn = "*"
werkzeug = "*"
google-cloud-storage = "*"

[dev-packages]
matplotlib = "*"
pylint = "*"
autopep8 = "*"
simplejson = "*"
ipython = "*"
gensim = "*"

[requires]
python_version = "3.10"
