-i https://pypi.org/simple
astroid==2.11.2 ; python_full_version >= '3.6.2'
autopep8==1.6.0
brotli==1.0.9
click==8.1.2 ; python_version >= '3.7'
cycler==0.11.0 ; python_version >= '3.6'
dash==2.3.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dill==0.3.4 ; python_version >= '2.7' and python_version != '3.0'
flask==2.1.1
flask-compress==1.11
flask-cors==3.0.10
fonttools==4.31.2 ; python_version >= '3.7'
gensim==4.1.2
gunicorn==20.1.0
isort==5.10.1 ; python_version < '4.0' and python_full_version >= '3.6.1'
itsdangerous==2.1.2 ; python_version >= '3.7'
jinja2==3.1.1 ; python_version >= '3.7'
kiwisolver==1.4.2 ; python_version >= '3.7'
lazy-object-proxy==1.7.1 ; python_version >= '3.6'
markupsafe==2.1.1 ; python_version >= '3.7'
matplotlib==3.5.1 ; python_version >= '3.7'
mccabe==0.7.0 ; python_version >= '3.6'
numpy==1.22.3
packaging==21.3 ; python_version >= '3.6'
pandas==1.4.1
pillow==9.0.1 ; python_version >= '3.7'
platformdirs==2.5.1 ; python_version >= '3.7'
plotly==5.6.0
pycodestyle==2.8.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pylint==2.13.4
pyparsing==3.0.7 ; python_version >= '3.6'
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2022.1
scipy==1.8.0 ; python_version < '3.11' and python_version >= '3.8'
seaborn==0.11.2
setuptools==61.3.0 ; python_version >= '3.7'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smart-open==5.2.1 ; python_version >= '3.6' and python_version < '4.0'
tenacity==8.0.1 ; python_version >= '3.6'
toml==0.10.2 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
tomli==2.0.1 ; python_version < '3.11'
werkzeug==2.1.0
wrapt==1.14.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
